/* ==================== MAIN ==================== */
html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .80em;
    background-color: yellow;
    color: black;
    font-family:Arial, Helvetica, sans-serif; 
}

p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #000;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

h2 {
    font: normal 175% 'century gothic', arial, sans-serif;
}

h4, h5, h6 {
    margin: 0;
    padding: 0 0 5px 0;
      font: normal 120% arial, sans-serif;
 }

h5, h6 {
    font: italic 95% arial, sans-serif;
    padding: 0 0 15px 0;
}

a, a:hover {
    outline: none;
    text-decoration: underline;
     color: #000;
}

a:hover {
    text-decoration: none;
}

.left {
    float: left;
    width: auto;
    margin-right: 10px;
}

.right {
    float: right; 
    width: auto;
    margin-left: 10px;
}

.center { 
    display: block;
    text-align: center;
    margin: 20px auto;
}

blockquote { 
    margin: 20px 0; 
    padding: 10px 20px 0 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;
}

ul {
    margin: 2px 0 22px 17px;
}

ul li {
    list-style-type: circle;
    margin: 0 0 6px 0; 
    padding: 0 0 4px 5px;
}

ol {
    margin: 8px 0 22px 20px;
}

ol li {
    margin: 0 0 11px 0;
}

#main, #logo, #navbar, #site_content, #footer {
    margin-left: auto; 
    margin-right: auto;
}

#header {
    background: transparent;
    height: 202px
}

#logo {
    width: 898px;
    position: relative;
    height: 148px;
    border-bottom: 2px solid #555;
}

#logo_text {
    display: flex;
    justify-content: center;
}

#wolf {
    width: 125px;
    height: 150px;
}

#logo h1, #logo h2 {
    font: normal 300% 'century gothic', arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
    padding: 60px 0 0 10px;
    color: #555;
    text-decoration: none;
}

#logo_text h1 a .logo_colour { 
    color: #555;
}

#logo_text h2 { 
    font-size: 100%;
    padding: 20px 0 0 0;
    color: #555;
}

#navbar {
    width: 898px;
    height: 52px;
    padding: 0;
    background: transparent;
} 

ul#menu, ul#menu li {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-left: 22px;
}

ul#menu li {
    list-style: none;
}

ul#menu li a { 
    letter-spacing: 0.1em;
    font: normal 100% arial, sans-serif;
    display: block; 
    float: left; 
    height: 17px;
    margin: 10px 0 0 10px;
    padding: 9px 26px 6px 26px;
    text-align: center;
    color: #555;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover {
    color: #222;
    background: transparent url(transparent_light.png) repeat;
}

#site_content {
    background: transparent;
    width: 854px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 0 24px 20px 20px;
} 

.sidebar {
    float: right;
    width: 210px;
    padding: 0 15px 20px 15px;
}

.sidebar ul {
    width: 198px; 
     padding: 4px 0 0 0; 
      margin: 4px 0 30px 0;
}

.sidebar li {
    list-style: none; 
    padding: 0 0 7px 0;
}

.sidebar li a, .sidebar li a:hover {
    padding: 0 0 0 40px;
    display: block;
    background: transparent url(link.png) no-repeat left center;
} 

.sidebar li a.selected {
    color: #7E2451;
    text-decoration: none;
} 

#content {
    text-align: left;
    float: left;
    width: 595px;
    padding: 0;
}

#content ul {
    margin: 2px 0 22px 0px;
}

#content ul li {
    list-style-type: none;
    background: url(bullet.png) no-repeat;
    margin: 0 0 6px 0; 
    padding: 0 0 4px 25px;
    line-height: 1.5em;
}

#footer {
    width: 898px;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    height: 33px;
    padding: 24px 0 5px 0;
    text-align: center; 
    background: transparent;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer a {
    color: black;
    text-decoration: none;
}

#footer a:hover {
    color: #FFF;
    text-decoration: underline;
}

#colours {
    height: 0px;
    text-align: right;
    padding: 66px 16px 0px 300px;
}

/* ==================== MAIN ==================== */

/* ==================== LOGIN ==================== */


#login {
    display: flex;
    justify-content: center;
    color: #555;
}
#login_{
    color: #555;
    text-align: center;
    margin-top: 10vh;
}
.login_form {
    text-align: center;
    /* width: 150px; */
    color: #555;
}
.login_text {
    font-size: 1rem;
    border: transparent;
    background: black;
    text-align: center;
    color: #555;
    width: 300px;
    height: 40px;
    box-shadow: 0px 0px 5px 1px #444;
    border-style: inset;
    border-width: 2px;
    border-color: #555;
    margin-top: 5px;
}
.login_submit {
    font-size: 1rem;
    text-align: center;
    border: transparent;
    background: black;
    color: #555;
    box-shadow: 5px 5px 50px 2px #444;
    width: 150px;
    height: 40px;
    margin-top: 10px;

    border-style: outset;
    border-width: 2px;
    border-color: #555;


}

::placeholder { 
    color: #555;
    opacity: 1; 
 }

.login_button {
    font-size: 1rem;
    box-shadow: 5px 0px 5px 1px #444;
    color: black;
    width: 150px;

}


/* ==================== LOGIN ==================== */


/* ==================== PRODUCTS ==================== */
/* ==================== PRODUCTS ==================== */

/* ==================== CART ==================== */
/* ==================== CART ==================== */